.modal > div {
  width: 100%;
  max-width: 600px;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
}

.modal_overlay {
  background-color: rgba(0, 0, 0, 0.4);
  height: 100%;
  position: fixed;
  top: 0;
  cursor: pointer;
}

.modal_body {
  background-color: #fff;
  bottom: 0;
  padding: 5%;
  border-radius: 20px 20px 0 0;
}
